.genre {
  padding: 60px 0;
  width: 90%;
  margin: auto;
}

.filter {
  margin: 15px 0;
}

.filter_header {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}
.icon {
  position: absolute;
  right: -22px;
}
.icon.rotate {
  transform: rotate(180deg);
}

.filter_header:hover {
  color: #333;
}

.filter_icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  cursor: pointer;
}
.filter_icon svg {
  filter: invert(0%) sepia(5%) saturate(18%) hue-rotate(34deg) brightness(96%)
    contrast(102%);
}

.filter_header:hover .filter_icon svg {
  filter: invert(15%) sepia(0%) saturate(115%) hue-rotate(205deg)
    brightness(94%) contrast(83%);
}

.filter_body {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s ease-out;
  border-radius: 5px;
}

.filter_body.display_filter_body {
  height: 130px;
  padding: 10px;
  background: var(--primary-color);
}

.filter_item {
  margin: 5px 0;
  color: #fff;
  cursor: pointer;
}
.filter_item.selected {
  color: var(--secondary-color);
}

.media_list {
  margin-top: 20px;
  width: 100%;
}

.media {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-right: 20px;
  box-shadow: 0 0 10px #e0e0e0;
}

.poster {
  position: relative;
  height: 100%;
}
.rating {
  position: absolute;
  bottom: 0;
  right: 0;
}
.poster_image {
  height: 100%;
  width: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.media_detail {
  margin-left: 10px;
  padding-right: 20px;
}
.title {
  margin-bottom: 10px;
}
.title h3 {
  color: var(--primary-color);
  font-size: 1rem;
}
.title p {
  font-size: 0.8rem;
  font-weight: bold;
}
.media_detail .overview {
  color: #111;
  margin-top: 10px;
  line-height: 1.3rem;
  display: none;
}

.media_detail .genre_list {
  display: none;
  color: #333;
  font-weight: bold;
}

.msg {
  font-size: 1.8rem;
}

@media screen and (min-width: 450px) {
  .title h3 {
    font-size: 1.4rem;
  }
  .title p {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .msg {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 650px) {
  .media {
    height: 150px;
  }
  .media_detail {
    margin-left: 20px;
    max-height: 140px;
    overflow: hidden;
  }
  .media_detail .overview {
    display: block;
  }

  .media_detail .genre_list {
    display: inline;
  }
  .poster_image {
    width: 100px;
  }
}
