.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer h1 {
  margin-bottom: 20px;
}

.container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.genre {
  background: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  padding: 0 10px;
}

.genre:active {
  transform: scale(0.95);
}

@media screen and (min-width: 450px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 650px) {
  .container {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }
  .genre {
    font-size: medium;
    height: 45px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
